/*==============================================================================*/
/* CSS Reset */
/*==============================================================================*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{ margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent}body{ line-height:1}article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{ display:block}nav ul{ list-style:none}blockquote,q{ quotes:none}blockquote:before,blockquote:after,q:before,q:after{ content:''; content:none}a{ margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline; background:transparent}ins{ background-color:#ff9; color:#000; text-decoration:none}mark{ background-color:#ff9; color:#000; font-style:italic; font-weight:bold}del{ text-decoration:line-through}abbr[title],dfn[title]{ border-bottom:1px dotted #000; cursor:help}table{ border-collapse:collapse; border-spacing:0}hr{ display:block; height:1px; border:0;  border-top:1px solid #ccc; margin:1em 0; padding:0}input,select{ vertical-align:middle}

/*==============================================================================*/
/* General */
/*==============================================================================*/
body {
	background: #191919;
	color: #fff;
	font: 100%/20px helvetica, arial, sans-serif;	
}

/*==============================================================================*/
/* Typography */
/*==============================================================================*/
a {
	text-decoration: none;
}	

::-moz-selection, 
::selection { 
	background: #f33 !important;
	color: #fff !important;
	text-shadow: none !important;
}

:focus {
	outline: none;	
}

/*==============================================================================*/
/* Panel */
/*==============================================================================*/
.panel {
	background: #111;
	border-right: 1px solid #000;
	box-sizing: border-box;	
	box-shadow: 1px 0 0 #222;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 261px;
	z-index: 2;
}

/*==============================================================================*/
/* Header */
/*==============================================================================*/
header h1 {
	color: #fff;
	font-size: 17px;
	height: 44px;
	line-height: 44px;
	text-align: center;
}

header h1 strong {
	color: #f33;
	font-weight: bold;
}

header h1 span {
	color: #999;
	font-size: 10px;
	margin: 0 0 0 3px;
	position: relative;
	text-transform: uppercase;
	top: -6px;
}

/*==============================================================================*/
/* Controls */
/*==============================================================================*/
.controls {
	margin: 0 0 1px;
}

section {
	margin: 0 0 1px;	
	padding: 0;
}

.controls .right {
	float: right;
	width: 190px;
}	

label {
	background: #222;
	box-sizing: border-box;	
	color: #fff;
	display: block;
	font-size: 11px;
	height: 22px;
	line-height: 22px;
	margin: 0 0 1px;
	overflow: hidden;
	padding: 0 7px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

section:nth-child(2n) label {
	background: #333;
}

input[type="text"] {
	background: #222;
	border: 1px solid #222;
	box-sizing: border-box;	
	color: #fff;
	display: block;
	float: left;
	font: normal 11px/35px helvetica, arial, sans-serif;
	height: 35px;
	margin: 0;
	padding: 0 12px;
	transition: all 200ms;
	width: 69px;
}

section:nth-child(2n) input[type="text"] {
	background: #333;
	border-color: #333;
}

input[type="text"]:focus,
section:nth-child(2n) input[type="text"]:focus {
	border-color: #f33;
}

.button {
	background: #222;
	box-shadow:	inset -5px 0 0 #333;
	color: #fff;
	display: block;
	font-size: 11px;
	font-weight: normal;
	height: 35px;
	line-height: 35px;
	margin: 0 0 1px;
	padding: 0 12px;
	text-align: left;	
	transition: all 200ms;
}

.button:hover {
	background: #333;
	box-shadow: inset -5px 0 0 #f33;
	color: #fff;
	padding-left: 24px;
}

/*==============================================================================*/
/* Canvas */
/*==============================================================================*/
.canvas-container {
	box-sizing: border-box;	
	height: 100%;
	right: 0;
	position: fixed;
	top: 0;
	z-index: 1;
}

canvas {
	background: #000;
	/*box-shadow: inset 0 0 0 1px #f33;*/
	cursor: move;
	display: block;
	left: 44px;
	position: relative;
	top: 44px;	
}

/*==============================================================================*/
/* jQuery UI */
/*==============================================================================*/
.ui-slider { 
	background: #222;
	border-right: 24px solid #222;
	clear: both;
	height: 12px;
	margin: 0; 
	position: relative; 
	text-align: left; 
}

section:nth-child(2n) .ui-slider {
	background: #333;
	border-color: #333;
}

.ui-slider .ui-slider-handle { 
	background: #555;
	cursor: e-resize;
	height: 12px;
	margin: 0;
	position: absolute;
	top: 0;
	transition: background 200ms;
	width: 24px; 
	z-index: 2;
}

.ui-slider .ui-slider-handle:hover { 
	background: #999; 
}

.ui-slider .ui-slider-handle:active { 
	background: #f33; 
}

.ui-slider .ui-slider-range { 
	background-position: 0 0;
	border: 0; 
	display: block;
	font-size: .7em; 
	height: 100%; 
	position: absolute; 
	top: 0;
	z-index: 1; 	 
}

.ui-slider .ui-slider-range-min {
	left: 0;

}
.ui-slider .ui-slider-range-max { 
	right: 0; 
}

/*==============================================================================*/
/* Miscellaneous */
/*==============================================================================*/
.clearfix:before, .clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}