@import url(http://weloveiconfonts.com/api/?family=entypo);

/*==============================================================================*/
/* CSS Reset */
/*==============================================================================*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{ margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent}body{ line-height:1}article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{ display:block}nav ul{ list-style:none}blockquote,q{ quotes:none}blockquote:before,blockquote:after,q:before,q:after{ content:''; content:none}a{ margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline; background:transparent}ins{ background-color:#ff9; color:#000; text-decoration:none}mark{ background-color:#ff9; color:#000; font-style:italic; font-weight:bold}del{ text-decoration:line-through}abbr[title],dfn[title]{ border-bottom:1px dotted #000; cursor:help}table{ border-collapse:collapse; border-spacing:0}hr{ display:block; height:1px; border:0;  border-top:1px solid #ccc; margin:1em 0; padding:0}input,select{ vertical-align:middle}

/*==============================================================================*/
/* General */
/*==============================================================================*/
body {
	background: #191919;
	color: #fff;
	font: 400 100%/20px 'myriad-pro', helvetica, arial, sans-serif;		
}

* {
	box-sizing: border-box;		
}

/*==============================================================================*/
/* Typography */
/*==============================================================================*/
a {
	text-decoration: none;
}	

::-moz-selection, 
::selection { 
	background: #f33 !important;
	color: #fff !important;
	text-shadow: none !important;
}

:focus {
	outline: none;	
}

[class*="entypo-"]:before {
	font-family: 'entypo', sans-serif;
	font-weight: normal !important;
	
}

/*==============================================================================*/
/* Panel */
/*==============================================================================*/
.panel {
	background: #111;
	border-right: 1px solid #000;
	box-shadow: 1px 0 0 #222;
	height: 100%;
	left: 0;
	overflow: auto;
	position: absolute;
	top: 0;
	width: 320px;
	z-index: 2;
}

/*==============================================================================*/
/* Header */
/*==============================================================================*/
header h1 {
	color: #fff;
	font-size: 17px;
	font-weight: 300;
	height: 44px;
	line-height: 44px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

header h1 strong {
	color: #f33;
	font-weight: 600;
}

header h1 span {
	color: #999;
	font-size: 10px;
	font-weight: 600;
	margin: 0 0 0 3px;
	position: relative;
	text-transform: uppercase;
	top: -6px;
}

/*==============================================================================*/
/* Controls */
/*==============================================================================*/
.controls {
	margin: 0 0 1px;
}

section {
	margin: 0 0 1px;	
	padding: 0;
}

label {
	background: #222;	
	color: #fff;
	display: block;
	float: left;
	font-size: 12px;
	height: 32px;
	line-height: 32px;
	margin: 0 0 1px;
	overflow: hidden;
	padding: 0 10px;
	text-overflow: ellipsis;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	width: 80%;
	white-space: nowrap;
}

.range label {
	width: 60%;	
}

section:nth-child(2n) label {
	/*background: #333;*/
}

input[type="text"] {
	background: #222;
	border: none;
	border-left: 1px solid #111;
	color: #fff;
	display: block;
	float: left;
	font: 400 11px/32px 'Open Sans', helvetica, arial, sans-serif;
	height: 32px;
	margin: 0;
	padding: 0 12px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	transition: all 300ms;
	width: 20%;
}

section:nth-child(2n) input[type="text"] {
	/*background: #333;*/
}

/*
input[type="text"]:focus,
section:nth-child(2n) input[type="text"]:focus {
	background: #111;
	box-shadow: inset 0 0 0 1px #f33;
}
*/

input[type="text"]:focus {
	background: #111;
	box-shadow: inset 0 0 0 1px #f33;
}

.button {
	background: #222;
	box-shadow:	
		inset -5px 0 0 #333,
		inset -6px 0 0 #111
	;
	color: #fff;
	display: block;
	font-size: 12px;
	height: 32px;
	line-height: 32px;
	margin: 0 0 1px;
	text-align: left;	
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	transition: all 300ms;
}

.button span {
	background: #222;
	border-right: 1px solid #111;
	height: 32px;
	color: #f33;
	display: inline-block;
	font-size: 15px;
	margin: 0 10px 0 0;
	text-align: center;
	transition: all 300ms;
	width: 20%;
}

.button:hover {
	background: #333;
	box-shadow:	
		inset -5px 0 0 #f33,
		inset -6px 0 0 #111
	;
	color: #fff;
}

.button:hover span {
	background: #333;
	margin-right: 15px;
}

/*==============================================================================*/
/* Canvas */
/*==============================================================================*/
.canvas-container {
	height: 100%;
	right: 0;
	position: fixed;
	top: 0;
	z-index: 1;
}

canvas {
	background: #070707;
	cursor: move;
	display: block;
	left: 44px;
	position: relative;
	top: 44px;	
}

canvas:active {
	box-shadow: 
		inset 0 0 0 1px #f33,
		inset 0 0 0 2000px hsla(0, 100%, 80%, .1)
	;
}

/*==============================================================================*/
/* jQuery UI */
/*==============================================================================*/
	/*==============================================================================*/
	/* Slider */
	/*==============================================================================*/
	.ui-slider { 
		background: #222;
		border-right: 10px solid #222;
		box-shadow: 
			inset 1px 0 0 #111,
			-10px 0 0 #222;
		;
		clear: both;
		height: 10px;
		margin: 0 0 0 10px;
		position: relative; 
		text-align: left; 
	}
	
	section:nth-child(2n) .ui-slider {
		/*background: #333;
		box-shadow: 
			inset 1px 0 0 #111,
			-10px 0 0 #333;
		;
		border-color: #333;*/
	}
	
	.ui-slider .ui-slider-handle { 
		background: #f33;
		cursor: ew-resize;
		height: 10px;
		margin: 0;
		position: absolute;
		top: 0;
		transition: background 300ms;
		width: 10px; 
		z-index: 2;	
	}
	
	.ui-slider .ui-slider-handle:hover { 
		background: #f77; 
	}
	
	.ui-slider .ui-slider-handle:active { 
		background: #fff; 
	}
	
	.ui-slider .ui-slider-range { 
		background: rgba(255, 255, 255, .15);
		background-position: 0 0;
		border: 0; 
		display: block;
		font-size: .7em; 
		height: 100%; 
		position: absolute; 
		top: 0;
		z-index: 1; 	 
	}
	
	.ui-slider .ui-slider-range-min {
		left: 0;
	
	}
	.ui-slider .ui-slider-range-max { 
		right: 0; 
	}

/*==============================================================================*/
/* Webkit Scrollbars */
/*==============================================================================*/
::-webkit-scrollbar {
	background: #111;
	width: 10px;
}

::-webkit-scrollbar-track {
	border-left: 1px solid #000;
}

::-webkit-scrollbar-thumb {
	background: #444;
	border-left: 1px solid #000;
}

::-webkit-scrollbar-thumb:hover {
	background: #666;	
}

/*==============================================================================*/
/* Miscellaneous */
/*==============================================================================*/
.clearfix:before, .clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}